<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>ua.ponikarchuk.controller.Controller</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>controllerLogout</servlet-name>
        <servlet-class>ua.ponikarchuk.controller.ControllerLogout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>controllerApplication</servlet-name>
        <servlet-class>ua.ponikarchuk.controller.ControllerApplication</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controllerRegistration</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controllerLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controllerLogout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controllerCreateApplication</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/controllerCreateRoom</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controllerApplication</servlet-name>
        <url-pattern>/viewApplications</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controllerApplication</servlet-name>
        <url-pattern>/viewAllApplications</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controllerApplication</servlet-name>
        <url-pattern>/checkApplication</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controllerApplication</servlet-name>
        <url-pattern>/chooseRoom</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controllerApplication</servlet-name>
        <url-pattern>/payApplication</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>
</web-app>